:root{
  --biruTUA: #050C9C;
  --biruBLUE: #3572EF;
  --biruLANGIT: #3ABEF9;
  --biruSKY: #A7E6FF;
  --white: #FFFFFF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--biruBLUE);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.navbar .logo  span{
  color: var(--biruLANGIT);
  font-family: "Hammersmith One", sans-serif;
}
header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 17px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #002491;
}
  <!---->
  body{
    width: 100%;
    min-height: 100vh;
    background-color: #2e2e2e;
    color: white;
  }
  .container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
  }
  .container .row{
    display:inline-flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1100px;
  }
  .row section.col{
    display: flex;
    flex-direction: column;
  }
  .row section.left{
    flex-basis:35%;
    min-width: 320px;
    margin-right: 60px;
  }
  .row section.right{
    flex-basis:60%;
  }
  
  section.left .contacTitle h2{
    position: relative;
    font-size: 28px;
    color:#ddd;
    display: inline block;
    margin-bottom: 25px;
  }
  section.left .contacTitle h2::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #888888;
    top:120%;
    left:0;
  }
  section.left .contacTitle h2:after{
      content: '';
      position: absolute;
      width: 25%;
      height: 3px;
    
      top:(120% - 1px);
      left: 0;
  }
  .section.left .contactTitle p{
    font-size: 17px;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
  }
  section.left {
    margin-bottom: 16px;
  }
  .contactinfo .icongroup{
    display: flex;
    align-items: center;
    margin: 25px 0px;
  }
  .iconGroup .icon{
    width:45px;
    height: 45px;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
  }
  .icopnGroup .icon i{
    font-size: 20px;
    color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }
  .iconGroup .details span{
    display:block;
    color: #888;
    font-size: 18px;
  }
  .iconGroup .details span:nth-child(1){
    text-transform: uppercase;
    color:#ccc;
  }
  
  /* code for the right section (column) */
  .row section.right .massagefrom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .row section.right .inputgroup{
    margin: 18px 0px;
    position: relative;
  }
  .massagefrom .halftwidth{
    flex-basis: 48%;
  }
  .massagefrom .fullwidth{
    flex-basis: 100%;
  }
  .massagefrom input, .massagefrom textarea{
    width: 100%;
    font-size: 18px;
    background-color: #2e2e2e;
    color: #dddddd;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
  }
  .massagefrom textarea{
    resize: none;
    height: 220px;
    display: block;
  }
  textarea::-webkit-scrollbar{
    width: 5px;
  }
  textarea::-webkit-scrollbar-track{
    background-color: #1e1e1e;
    border-radius: 15px;
  }
  .textarea::-webkit-scrollbar-thumb{
    background-color:dodgerblue;
    border-radius: 15px;
  }
  .inputgroup label{
    position: absolute;
    left: 0;
    bottom: 4px;
    color:#888;
    font-size: 18px;
    transition: 0.4%;
    pointer-events: none;
  }
  .inputgroup label:nth-child(4){
    top:2px;
  }
  .inputmassage .button:hover{
    background-color: #2e2e2e;
    color:dodgerblue;
    box-shadow: 0px 0px 0px rbga(0, 0, 0, 3);
    border:1px solid dodgerblue;
  
  }
  @media(max-width: 1100px){
    .massangefrom .halfwidth{
    flex-basis: 100%;
    }
  }
  @media(max-width: 900px){
    .massangefrom .fullwidth{
      flex-basis: 100%;
    }
  }
  .fa-solid{
    margin-right: 100px;
    padding-top: 50px;
  }
  .container-footer{
    max-width: 1170px;
    margin: auto;
  }
  
  .footer{
    background: var(--biruBLUE);
    padding: 35px 0;
  }
  
  .row-footer{
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col{
    width: 25%;
    padding:  0 60px;
  }
  
  .footer-col h4{
    font-size: 18px;
    color: var(--white);
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: var(--biruTUA);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col p{
    font-size: 14px;
    text-decoration: none;
    color: #252525;
    display: block;
    transition: all .3s ease;
  }
  
  .footer-col p:hover{
    display: block;
    color: var(--white);
    padding-left: 6px;
  }
  
  .footer-col ul{
    list-style: none;
  }
  
  .footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #252525;
    display: block;
    transition: all .3s ease;
  }
  
  .footer-col ul li a:hover{
    color: var(--white);
    padding-left: 6px;
  }
  
  .footer-col .media-sosial a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, .2);
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--white);
    transition: all .5s ease;
  
  }
  
  .footer-col .media-sosial a:hover{
    color: #24262b;
    background: var(--white);
  }
 .media-social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: dodgerblue;
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--white);
    transition: all .5s ease;
  }
  .media-social a i{
    color:#ddd;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition: 0.4s;
  }
  .media-social a:hover{
    transform: translateY(-5px);
    background-color: #2e2e2e;
    color: dodgerblue;
    border: 1px solid dodgerblue;
  }
  .media-social a:hover{
    color: dodgerblue;
  }

.inputgroup .button{
  padding: 8px 16px;
  font-size: 18px;
  background-color: dodgerblue;
  color: #ddd;
  border: 1px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}
  .inputgroup  a:hover{
    transform: translateY(-5px);
    background-color: #2e2e2e;
    color: dodgerblue;
    border: 1px solid dodgerblue;
  }
  .inputgroup  a:hover{
    color: dodgerblue;
  }
  .massagefrom textarea{
    resize: none;
    height: 220px;
    display: block;
  }
